{erl_opts, [debug_info]}.

{deps, [
    {mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp.git", {branch, "master"}}},
    {cowboy, "2.10.0"},
    {jsx, "2.11.0"},
    {epgsql, ".*", {git, "https://github.com/epgsql/epgsql.git", {tag, "4.8.0"}}}
]}.

{shell, [
    {apps, [chat_app]}
]}.


%% application:ensure_all_started(chat_app).
%% Conn = mysql_test:connect().
%% {ok, Rows} = pgsql_test:query("SELECT id, first_name, email FROM users;").
%% 
%% rebar.lock:   [{<<"epgsql">>,
%%  {git,"https://github.com/epgsql/epgsql.git",
%%       {ref,"28e9f84c95065a51e92baeb37d2cf1687fc4b9ce"}},
%%  0},
