.rebar3
_build
_checkouts
_vendor
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~

# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Config local
.env

# Ficheiros
server/apps/chat_app/src/mysql_test.erl
passo_a_passo.txt
Structure
